#banner {
  background-color: #FA8072;
  position:relative;
  width:100%;
  height:100px;
  }

#footer{
  background-color: #FA8072;
  position:relative;
  width:100%;
  height:30px;
}

#l {
float:left;}
#r {
float:right;}

.extra {
    display: none;
}

p:hover .extra {
    display: inline-block;
}
