{% extends "index.html" %}

{% block content %}

<table border = "1">

{% for item in hospital_data %}

{{s|safe}}
<tr>

  <td>
    <p>
    <b>{{ item.1 }}</b> <br>

  {{ item.2 }}
  <br>
  <a href="{{ item.6 }}">Google Maps</a><br>
    <span class="extra">
      {% for step in item.5 %}
      <br>
      {{ step|safe}}
      {% endfor %}
    </span>
  </p>

</td>

<td>Travel time: {{ item.3 }} </td>
<td>Wait time:
  {% if item.4 == 0 %} N/A
  {% else %} {{ item.4 }}
  {% endif %}
  mins</td>

{% if item.4 <= 10 %} <td bgcolor="#00FF00">
{% elif item.4 >= 50 %} <td bgcolor="#FF0000">
{% else %} <td bgcolor ="	#FF8C00">
{% endif %}
Total Time: {{item.0}} mins </td>

</tr>
{% endfor %}

</table>

{% endblock %}
