{% extends "index.html" %}

{% block content %}

<BR>
<center>
Welcome!
<BR><BR>

<table border = "1" style="width:40%">

  <tr><td><center>

      <a href = "/hospitalschedule"> Update your schedule </a>

  </center></td></tr>
  <tr><td><center>

      <a href = "/currentTime"> Update current waiting time </a>

  </center></td></tr>


  <tr><td><center>

      <a href = "/hospitalview"> See current patients </a>

  </center></td></tr>

</table>

</center>
<BR><BR><BR>

<a href = "/logout"> Logout </a>
{% endblock %}
