<!DOCTYPE html>

<head>
    <title>Signin</title>
    </head>

<body>

    <div class="container">

        <form method="POST" class="form-signin">
            <h2 class="form-signin-heading">Log In:</h2>
            <label for="username_in" class="sr-only">Username</label>
            <input type="text" id="username_in" name="username_in" class="form-control" placeholder="Username" Username>
            <label for="password_in" class="sr-only">Password</label>
            <input type="password" id="password_in" name="password_in" class="form-control" placeholder="Password">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember"> Remember me
                </label>
            </div>
            <button type="submit">Sign in</button>
        </form>  
	</div>
</body>

</html>
