{% extends "index.html" %}

{% block content %}

{% for item in L %}
{{s|safe}}
<form method="POST">
  <BR>
  <CENTER>
  First Name : <input type="text" name="fName" value="{{item.0}}"><br>
  Last Name  : <input type="text" name="lName" value="{{item.1}}"><br>
  Day of Birth: <input type="text" name="dob" value="{{item.2}}" placeholder="(mm/dd/yy)">  <br>
  Address    : <input type="text" name="loc" value="{{item.3}}"><br>
  State      : <input type="text" name="state" value="{{item.4}}" placeholder="NY"><br>
  <input type="submit" name="button" value="Update"><br>
</CENTER>
{% endfor %}
</form>

{% endblock %}
